a{
	color: #000000; /* Цвет обычной ссылки */
	text-decoration: none;
}
#photo{
	float: left;
	margin-right: 50px;
}

#menu ul li{
list-style-type:disc;
}

#menu { 
  float: right;
  width:140px;
}

#menu li a {
  text-decoration: none;
}

#menu li li{ 
  cursor:auto;
  border:0;
  padding:0 14px;
  background-image: none;
}

#disclaimer, #intro {
  width: 400px;
}

.active_topic{
color:#FF1205;

}
#menu  li a.active_top{
color:#FF1205;
}

ul .sub-menu{
	font-size: 80%;
}
#menu_body p img{
	margin-left: 30px;
	padding-left: 50px;
}
#menu-product{
	 margin:0px;
	 padding:0px;
}

#menu-product li {
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	line-height: 1.4em;
}


#menu-product li a:link{
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 140%;
	line-height:1.6em;

}
#menu-about{
	margin:0px;
	padding:0px;
	margin-top: 25px;
	height: 200px;
}
#menu-about li a:link{
	color: #000000;
	text-decoration: none;
	font-size: 140%;
	font-family: Tahoma;
	line-height:1.6em;
}
#menu-uslugi{
	margin:0px;
	padding:0px;
	height: 200px;
}
#menu-uslugi li a:link{
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 140%;
	line-height:1.6em;
}
#menu-personal{
	margin:0px;
	padding:0px;
	margin-top: 25px;
	height: 200px;
}
#menu-personal li a:link{
	color: #000000;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 140%;
	line-height:1.6em;

}

#menu_body{
	padding: 0px;
	margin: 0px;
    float:left;
	margin-right: 30px;

   }
#menu_body ul li {
	list-style-type: none;
	padding-left: 0px;
}

#menu_body ul li a:hover {
 color:#1424FF;
    text-decoration: none;

    } 

#menu_body ul li ul li {
    border: 0;
    list-style-type: none;
    color: #fff;
    list-style-position: inside;
	padding: 0 20px;
}
#menu { /* Навигация по сайту */
    font-size: 20px;
    line-height:1.5em;
	width: 200px; /* Ширина меню */
    float: left; /* Состыковка с другим слоем по горизонтали */
}
   
#content { /* Основное содержание страницы */
    margin-left: 240px; /* Отступ слева */
    margin-bottom: 15px; /* Отступ снизу */
}
#content.news_block{

    margin-left: 10px; /* Отступ слева */
    margin-bottom: 15px; /* Отступ снизу */
}
#content p {
    font-size: 120%; /* Размер шрифта */
    text-align: justify; /* Выравнивание по ширине */
    padding: 2px; /* Поля вокруг текста */
    margin: 10px ;/* Обнуляем отступы */
	text-indent: 20px;
	line-height:1.2em;
}
.news{
    list-style-type: none;
    font-size: 150%;
    display: inline;
    text-align: center;

}
#news-block{
    margin-bottom: 30px;
    height: 200px;
    border-bottom: 1px solid black;
}

#news-block img{
    float: left;
    text-align: center;
}
#news-block > a{
    display: block;
    vertical-align: top;
    text-align: center;
    font-size: 160%;
}
#news-block p{
    display: block;
    text-align: center;
    font-size: 100%;
}

#current-news{
    display: block;
    text-align: center;
    font-size: 100%;
}
div.fixed_pos{
position:fixed;
right:0px;
bottom:0px;
z-index:1000;
background-size:60px 60px;
background-position:1085px 360px;
}


body {/*описание для тела */
	margin: 0;
	padding: 0;/**/
	color: #6e6e6e;/*серый*/
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 17px;
	line-height: 1em;
}

a, a:link{ /* описание ссылок*/
	color: #000000; 
	font-weight: normal; 
	text-decoration: none; 
	
}

a:hover {
	text-decoration: none;
	color: #1424FF; 
}



p {
	margin: 0 0 10px 0; 
	padding: 0; 
}

img {
	border: none;
}


h1{ /
 font-size: 30px; 
 margin: 0 0 ;
 padding: 5px 0 ;
 text-align:center;
 line-height: 1;
 color: #FFFFFF; 
 font-weight: normal;
 }

h1.name{
 	font-size: 45px;
	line-height: 1.1;
  	letter-spacing: 5px;

}
h2 { /* */
	color: #FFFFFF;
	font-weight: normal;
	font-size: 20px;
	margin: 0 0 15px;
	padding: 5px 0 ;
	line-height: 1;}
h5{
	color: #3A3A3A;
}
h3 { 
color:#000000; 
font-weight: normal;
font-size: 24px; 
margin: 0 0 20px; 
padding: 10px 0; 
}

h3.about{
text-align:center;
}
h4 { 
color: #000000; 
font-weight: normal;
font-size: 18px;
}
h5 { 
font-size: 16px; 
margin: 0 0 10px;
 padding: 0; 
 }
h6 { 
color: #FFFFFF; 
font-weight: normal;
font-size:12px; 
margin: 0 0 5px;
 padding: 0; 
 }

body {
	background-image: url(../images/1023.png);
}


#subpage { /*фон всех страниц крме главной */
	background-image: url(../images/1023.png);  
}

#templatemo_header_wrapper {/*описание блока хеадер */
	width: 950px;
	margin: 0 auto;
	padding: 10px 20px;
	background: url(../images/templatemo_header_dividier.png) repeat-x bottom
}

#templatemo_slider {/* для карусели*/
	width: 960px;
	margin: 0 auto;
	padding: 0 10px 10px;
}

#templatemo_main {/* описание основного блока*/
	width: 1000px;
	margin: 0 auto;
	padding: 20px 20px;
	background: #D3D4D6;
	border: 1px solid #fff;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	color:#000000;
}



#sidebar { /* описание сайдбара*/
	float: right; 
	width: 300px; 
}

#templatemo_bottom_wrapper {/*описание обертки футерра*/
	margin: 0 auto;
    padding: 10px 20px;
    width: 950px;
	height:140px;
	background: url(../images/templatemo_header_dividier.png) repeat-x top
	
	/*background: #272525;*/
}

#templatemo_bottom {/* описание основного поля футера */
	width: 1000px;
	margin: 0 auto;
	padding: 0 10px 20px;
}
#templatemo_footer {/*описание футера автор */
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

#slider-left-but { /* для карусели*/
	display: block; 
	width: 30px; 
	height: 30px; 
	border: none; 
	background: url(../images/templatemo_slider_left.png); 
	margin-right: 10px; 
}

#slider-right-but { /* для карусели*/
	display: block; 
	width: 30px; 
	height: 30px; 
	border: none; 
	background: url(../images/templatemo_slider_right.png); 
}
#sidebar, .one_third { /* */
	width: 300px; 
}

#contact_form { /*контактная форма */
	padding: 0; 
	width: 410px; 
	margin-bottom: 40px; 
}

#contact_form form { /* контактная форма*/
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { /*контактная форма */
	width: 270px; 
	padding: 5px; 
	color: #333;  
	background: #fff; 
	border: 1px solid #dedede; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { /* контактная форма*/
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 15px; 
}

#contact_form form textarea { /* контактная форма*/
	width: 398px; 
	height: 130px; 
	padding: 5px; 
	color: #333;
	background: #fff; 
	border: 1px solid #dedede; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	margin-top: 5px;
}

#contact_form form .submit_btn { /* контактная форма*/
	display: block; 
	
	height: 25px; 	 
	border: 1px solid #bb4d17; 
	color: #fff; 
	font-size:15px;
	border: none; 
	margin: 10px 0px;
    background-color: #e1e1e1;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}

#templatemo_bottom h4 {/* описание заголовкав футере */
	display: block;
	position: relative;
	height: 27px;
	padding-top: 5px;
	margin-left: 27px;
	color: #FFFFFF;
}

#templatemo_bottom h4 span {/* описание заголовкав футере */
	position: absolute;
	top: 0;
	left: -27px;
	width: 27px;
	height: 32px;
}

#templatemo_bottom .bottom_box { /*описание футера */
	padding: 0 30px; 
}

#templatemo_bottom a { /*описание футера */
	color: #6e6e6e; 
}

.footer_list { /* описание футера*/
	margin: 0; 
	padding: 0; 
	list-style: none; 

}

.cleaner { /* обтекани е элемента*/
clear: both
 }
#content  h1 {

	color: black;
}
 
 .h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.divider { margin-bottom: 40px; padding-bottom: 20px; background: url(/wp-content/themes/universal/images/templatemo_header_dividier.png) repeat-x bottom; }
 .image_fl { float: left; margin: 3px 20px 5px 0 }
.image_fr { float: right; margin: 3px 0 5px 20px }

.float_l { float: left }
.float_r { float: right }
.half { 
	width: 450px; 
}
.about_box { 

	margin-bottom: 40px; 
}

.about_box img { 
	float: left; 
	margin-right: 40px;
}

.about_box h4 { 
	font-size: 14px;
	font-weight: bold; 
	font-style: italic; 
	margin-bottom: 0px; 
}
.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none;
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}
.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #fff; 
	border: 1px solid #ccc; 
}


.pagging ul li a:hover { 
	background: #7f0d0d; 
	border: 1px solid #fff; 
	color: #fff;  
}


p.position { /* */
	color: #f3a706; 
	font-weight: bold; 
	font-size: 12px; 
	font-style: italic; 
	margin-bottom: 10px; 
}
p.contact
{
font-weight: bold; 
font-size: 18px; 
line-height:1.5em;
float: left;
 text-indent: 20px;
  width: 700px
}

.gallery_box {/* описание поля продукции*/
	margin-bottom: 40px; 
}

.gallery_box img {/* описание картинки в продукции*/ 
	margin-bottom: 10px; 
	margin-left: 80px; 
}

.gallery_box h5 { /* описание текста продукции*/
	font-size: 20px; 
	font-weight: 700; 
	margin-bottom:0; 
	margin-left: 185px; 
}

.gallery_box p { /* описание абзаца в продукции*/
	font-size: 11px; 
}


.footer_list li { /* описание футера*/
	margin: 0 0 ; 
	padding: 0 0 ; 
	border-bottom: 1px dotted #313030; 
}

.footer_list li a { /*описание футера */
	color: #aca6a6; 
}


.col { /* */
	float: left; 
	margin: 0 20px 20px 0; 
		line-height:1.5em;
}
.one_fourth { /* описание карусели*/
	width: 300px; 
}
.no_margin_right { /* */
	margin-right: 0; 
}
.pagging ul li .active_news { /* */
	background: #7f0d0d; 
	border: 1px solid #fff; 
	color: #fff;  
}
.ddsmoothmenu ul li .active_punkt {/* */
	color: #FF1205;
}